.message {
    display: flex;
align-items: flex-end;

    margin: 10px;
}

.imageAndText {

}

.imageAndText img {
    width: 60px;

}

.text {

}

.text:after {

}

.name {

}

.messageText {
border-radius: 10px 10px 8px 8px;
    background-color: cadetblue;
}

.time {

}