.friendMessage {
    display: flex;
    align-items: flex-end;

    margin: 10px;
}

.friendImageAndText {

}

.friendImageAndText img {
width: 60px;

}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {
    border-radius: 10px 10px 8px 8px;
    background-color: cadetblue;
}

.friendTime {

}
